.app {
  max-width: 700px;
  margin: auto;
}

section {
  padding: 10px 20px;
}

.nav {
  height: 70px;
  background-color: #F55A5A;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: aliceblue;
}
.nav-logo {
  width: 45px;
}


.card {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

.card-img {
  width: 30%;
}

.card-content{
  width: 65%;
}

.coverImg {
  height: 190px;
  width: 100%;
  border-radius: 9px;
}

.location-icon {
  height: 17px;
}

.card-location {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.title, .card-date, .card-description{
  margin: 0;
}

.card-date {
  font-weight: bold;
}

.card-title {
  font-size: 24px;
}

.card-description {
  font-size: 14px;
  line-height: 1.3em;
}

.location-map {
  text-decoration: underline;
  color: #918E9B;
}